<section id="about" class="section">
    <style>
        .profile-image-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 550px;
            width: 550px;
            /* background-color: #f8f9fa; */
            border-radius: 10px;
            overflow: hidden;
        }
        
        .profile-image {
            max-height: 100%;
            max-width: 120%;
            object-fit: cover;
            border-radius: 10px;
        }
    </style>
    
    <div class="container">
        <div class="about-content">
            <div class="about-text">
                <h3>Hello Hello Hello!!</h3>
                <p>I'm Cheng-Kai Lai, a Master student in AI Engineering at Carnegie Mellon University. Feel free to call me Kevin!</p>
                <p>My interests include AI agent, NLP, ML applications, Catalysts, and Process optimization. I'm passionate about developing efficient ML algorithms for engineers. My dream is to bridge the gap between  chemical engineering and AI.</p>
                <p>I believe in taking action to solve problems and continuously challenge myself to grow. By the way, I am also a locking lead in CMU Streetsyle, text me if you want to lock-in with locking!</p>
            </div>
            <div class="profile-image-container">
                <img src="pic/me in SF.jpg" alt="About Me" class="profile-image">
            </div>
        </div>
    </div>
</section>
