<section id="about" class="section">
    <style>
        .profile-image-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 550px;
            width: 550px;
            /* background-color: #f8f9fa; */
            border-radius: 10px;
            overflow: hidden;
        }
        
        .profile-image {
            max-height: 100%;
            max-width: 120%;
            object-fit: cover;
            border-radius: 10px;
        }
    </style>
    
    <div class="container">
        <div class="about-content">
            <div class="about-text">
                <h3>Biography</h3>
                <p>Hello! I'm Cheng-Kai Lai, a student with a Master of Science in Artificial Intelligence Engineering from Carnegie Mellon University. I have a strong background in applying data science and AI techniques to industry challenges.</p>
                <p>My research interests include AI agent, Nature Language Processing, machine learning applications in chemical processes, CO2 hydrogenation catalysts, and advanced data analysis for process optimization. I'm passionate about developing efficient machine learning algorithms for chemical plants and dedicated to bridging the gap between traditional chemical engineering and modern artificial intelligence.</p>
                <p>I believe in taking action to solve problems and continuously challenge myself to grow through learning and practical application. My experiences have shaped me into someone who values teamwork, responsibility, and continuous improvement. Oh, by the way, feel free to call me Kevin!</p>
            </div>
            <div class="profile-image-container">
                <img src="pic/me in SF.jpg" alt="About Me" class="profile-image">
            </div>
        </div>
    </div>
</section>
