<section id="contact" class="section">
    <div class="container">
        <div class="section-title">
            <h2>Get in Touch!</h2>
        </div>

        <div class="contact-container">
            <!-- Get In Touch Column -->
            <div class="contact-info">
                <!-- Location -->
                <div class="contact-item">
                    <div class="contact-icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="contact-details">
                        <h4>My Locations</h4>
                        <p>Taipei, Taiwan / Pittsburgh, PA</p>
                    </div>
                </div>

                <!-- Email -->
                <div class="contact-item">
                    <div class="contact-icon">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="contact-details">
                        <h4>Email Address</h4>
                        <p><a href="mailto:chengkai@andrew.cmu.edu">chengkai@andrew.cmu.edu</a></p>
                    </div>
                </div>

                <!-- Phone -->
                <div class="contact-item">
                    <div class="contact-icon">
                        <i class="fas fa-phone-alt"></i>
                    </div>
                    <div class="contact-details">
                        <h4>Phone Number</h4>
                        <p><a href="tel:+14126899440">+1 (412) 689-9440</a></p>
                    </div>
                </div>

                <!-- Social Media -->
                <div class="contact-item">
                    <div class="contact-icon">
                        <i class="fas fa-share-alt"></i>
                    </div>
                    <div class="contact-details">
                        <h4>Social Profiles</h4>
                        <div class="social-links">
                            <a href="https://www.linkedin.com/in/chengkailai" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            <a href="https://github.com/KevinChengKaiLai" target="_blank"><i class="fab fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
