<section id="skills" class="section">
    <div class="container">
        <div class="section-title">
            <h2>Technical Skills</h2>
        </div>
        <div class="skills-container">
            <!-- Machine Learning Skills -->
            <div class="skills-category">
                <h3><i class="fas fa-brain"></i> Machine Learning</h3>
                <div class="skills-list">
                    <div class="skill-item">
                        <div class="skill-name">PyTorch</div>
                        <div class="skill-bar">
                            <div class="skill-level" style="width: 95%"></div>
                        </div>
                    </div>
                    <div class="skill-item">
                        <div class="skill-name" >TensorFlow</div>
                        <div class="skill-bar">
                            <div class="skill-level" style="width: 50%"></div>
                        </div>
                    </div>
                    <div class="skill-item">
                        <div class="skill-name" >Scikit-learn</div>
                        <div class="skill-bar">
                            <div class="skill-level" style="width: 85%"></div>
                        </div>
                    </div>
                    <div class="skill-item">
                        <div class="skill-name" >OpenCV</div>
                        <div class="skill-bar">
                            <div class="skill-level" style="width: 60%"></div>
                        </div>
                    </div>
                    <div class="skill-item">
                        <div class="skill-name" >Deep Learning</div>
                        <div class="skill-bar">
                            <div class="skill-level" style="width: 85%"></div>
                        </div>
                    </div>
                    <div class="skill-item">
                        <div class="skill-name" >Computer Vision</div>
                        <div class="skill-bar">
                            <div class="skill-level" style="width: 70%"></div>
                        </div>
                    </div>
                    <div class="skill-item">
                        <div class="skill-name" >NLP</div>
                        <div class="skill-bar">
                            <div class="skill-level" style="width: 75%"></div>
                        </div>
                    </div>
                    <div class="skill-item">
                        <div class="skill-name" >Reinforcement Learning</div>
                        <div class="skill-bar">
                            <div class="skill-level" style="width: 40%"></div>
                        </div>
                    </div>
                    <div class="skill-item">
                        <div class="skill-name" >AI Agent</div>
                        <div class="skill-bar">
                            <div class="skill-level" style="width: 35%"></div>
                        </div>
                    </div>
                </div>
            </div>
            

            <!-- Data Engineering Skills -->
            <div class="skills-category">
                <h3><i class="fas fa-database"></i> Data Engineering</h3>
                <div class="skills-list">
                    <div class="skill-item">
                        <div class="skill-name" >Python</div>
                        <div class="skill-bar">
                            <div class="skill-level" style="width: 70%"></div>
                        </div>
                    </div>
                    <div class="skill-item">
                        <div class="skill-name" >PySpark</div>
                        <div class="skill-bar">
                            <div class="skill-level" style="width: 75%"></div>
                        </div>
                    </div>
                    <div class="skill-item">
                        <div class="skill-name" >SQL</div>
                        <div class="skill-bar">
                            <div class="skill-level" style="width: 60%"></div>
                        </div>
                    </div>
                    <div class="skill-item">
                        <div class="skill-name" >Docker</div>
                        <div class="skill-bar">
                            <div class="skill-level" style="width: 30%"></div>
                        </div>
                    </div>
                    <div class="skill-item">
                        <div class="skill-name"  >Git</div>
                        <div class="skill-bar">
                            <div class="skill-level" style="width: 50%"></div>
                        </div>
                    </div>
                    <div class="skill-item">
                        <div class="skill-name"  >Pandas</div>
                        <div class="skill-bar">
                            <div class="skill-level" style="width: 50%"></div>
                        </div>
                    </div>
                    <div class="skill-item">
                        <div class="skill-name" >NumPy</div>
                        <div class="skill-bar">
                            <div class="skill-level" style="width: 100%"></div>
                        </div>
                    </div>
                    <div class="skill-item">
                        <div class="skill-name"  >Matplotlib</div>
                        <div class="skill-bar">
                            <div class="skill-level" style="width: 100%"></div>
                        </div>
                    </div>
                    <div class="skill-item">
                        <div class="skill-name"  >Google Cloud Platforms (GCP)</div>
                        <div class="skill-bar">
                            <div class="skill-level" style="width: 50%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
